:root {
    --primary: #23a896;
    --secondary: #FFCE00;
    --dark: #212121;
    --light: #F3F3F3;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* font-family: montserrat, sans-serif; */
    width: 100%;
    min-height: 100vh;
  }
  
  .card {
    margin: 20px auto;
    width: 450px;
    height: 450px;
    perspective: 1000px;
  }
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }
  
  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }
  
  .card__header {
    position: relative;
    padding: 20px 30px 25px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  .image-existing-loan-nft-front,
  .image-loan-request-nft-front {
    width: 450px;
  }
  
  .image-existing-loan-nft-back,
  .image-loan-request-nft-back {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }
  
  .card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__body {
    padding: 10px;
  }
  
  .card__body dl {
    color: var(--dark);
    font-size: 14px;
    /* line-height: 1.4; */
    margin: 0;
    padding: 0 5px 0 5px;
    text-align: left;
    /* background: orange; */
  }

  .card__body dt {
      font-size: 14px;
      font-weight: bold;
  }