html {
  color: whitesmoke;
  text-align: center;
  background: #222;
}

.borrower-page {
  padding: 0;
  margin: 0;
  height: 100%;
}

h1, h2, h3, .label, .button-edit {  
  font-weight: bold;
  text-shadow: 1px 1px 3px #000;
}

h3 {
  margin-top: 0;
}

div {
  color: whitesmoke;
}

.container {
  margin: 0;
  padding: 10px 24px 0 24px;
  border: none;
}

.container-loan-forms {
  width: 90%;
  margin: 25px auto 0 auto;
  display: flex;
}

.container-loan-request-form-master,
.container-available-loan-form-master,
.container-loan-contracts-master {
  width: 50%;
  padding: 0 5%;
}

.container-loan-contracts-master {
  overflow-y: auto;
  height: 90vh;
  margin-top: 0;
}

.wedge {
  width: 5px;
  background: #3f5e7e;
  border: 3px solid #555;
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.container-loan-request-form,
.container-available-loan-form,
.container-loan-contracts {
  width: 510px;
  margin: 40px auto 0 auto;
  padding: 24px;
  position: relative;
  border-radius: 12px;
  background: #555;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.container-loan-request-component,
.container-available-loan-component {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.label {
  margin: 0;
  padding: 0;
  height: 38px;
  line-height: 44px;
  width: 15%;
  text-align: left;
}

.input,
.datalist {
  width: 70%;
  margin: 4px 4px 4px 4%;
  padding: 10px;
  border: 1px solid #2e4d6d;
  font-size: 13px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.input-container {
  width: 74.2%;
  margin: 4px 0 4px 4%;
  padding: 0;
  border: none;
}

.input-available-loan-borrower--signed {
  border: 5px solid #080;
}

.input-available-loan-borrower--unsigned {
  border: 5px solid #f04;
}

.datalist-nft {
  width: 100%;
  margin: 0;
  border: node;
  cursor: pointer;
}

.container-no-image {
  width: 100%;
  margin: 20px 0;
}

.button {
  margin: 8px auto 0 auto;     
  padding: 6px 1rem 8px 1rem;
  background: #5086bd;
  color: white;
  position: relative;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #2e4d6d;
  border-radius: 12px;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.4);
}

.button-disabled {
  cursor: not-allowed;
  background: darkgray;
}

.button-edit {
  margin: 4px 4% 4px 0;
  padding: 4px 8px;
}

.button-enabled:active {  
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button-connect-wallet,
.button-connected-account {
  margin: 20px 50px 0 0;
  width: 120px;
  position: absolute;
  right: 0;
  top: 0;
}

.button-disconnect-wallet {
  margin: 20px 50px 0 0;
  width: 120px;
  right: 0;
  top: 0;
}

.container-available-loan-buttons {
  width: 400px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.button-available-loan {
  width: 100px;
  padding: 6px 0 8px 0;
}

.button-available-loan-commit {
  width: 120px;
  margin-left: 44px;
  margin-right: 10px;
}

.button-available-loan-update {
  margin-left: 10px;
  margin-right: 10px;
}

.button-loan-request-create {
    width: 120px;
}

.button-loan-request-submitted {
    width: 140px;
}

.button-edit-nft,
.button-edit-token-id {
  width: 23px;
  background: none;
  border-color: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  cursor: default;
}

.button-edit-nft:active, 
.button-edit-token-id:active {  
  transform: none;
  box-shadow: none;
}